/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
    background-image: url(./images/concreteBackground.png);
    background-size: cover;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
@font-face {
    font-family: 'MoonLight';
    src: local('MoonLight'), url(./fonts/Noir_medium.otf) format('truetype');
}
